:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

img {
  border: 1px solid #dadada;
  margin: 0 auto 16px auto;
  display: block;
}

th {
  text-align: start;
}
