:host {
    display: inline-block;
    margin: 8px;
    position: relative;
}

img {
    height: 150px;
    display: block;
}

.info-box {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), black);
    text-align: end;
}

.country-name {
    padding: 8px;
    color: white;
}