<mat-toolbar>
  <a href="" routerLink="" mat-icon-button><mat-icon>public</mat-icon></a>
  <span>Country viewer</span>
</mat-toolbar>

<div class="container">
  <app-search-form></app-search-form>

  <mat-spinner *ngIf="loading$ | async"></mat-spinner>

  <mat-list>
    <cdk-virtual-scroll-viewport itemSize="50">
    <div @slideInOut *cdkVirtualFor="let country of countryList$ | async; last as last">
    <mat-list-item>
      <img matListAvatar [src]="country.flags.svg" alt="Flag">
      <h3 matLine> {{country.name.common}} </h3>
    </mat-list-item>
    <mat-divider *ngIf="!last"></mat-divider>
    </div>
    </cdk-virtual-scroll-viewport>
  </mat-list>

</div>
