<div class="container">
  <div style="display: flex; justify-content: flex-end">
    <mat-form-field appearance="fill">
      <mat-label>Region</mat-label>
      <mat-select>
        <mat-option *ngFor="let region of regions$ | async" [value]="region">
          {{region}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-container *ngIf="countryList$ | async as countryList">
    <div class="content-wrapper">
      <app-country-card
        *ngFor="let country of countryList"
        [country]="country"></app-country-card>
    </div>
  </ng-container>
</div>
