<mat-toolbar>
  <a href="" routerLink="">
    <button type="button" mat-icon-button>
      <mat-icon>public</mat-icon>
    </button>
    <span>Country viewer</span>
  </a>
  <button (click)="triggerThemeHandler()" type="button" mat-icon-button>
    <mat-icon>{{ darkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <div class="visited-wrapper" *ngIf="(visited$ | async) as visited">
    <p>Recent:</p> <a *ngFor="let country of visited" mat-flat-button href=""
                      [routerLink]="['/',country.cca2]">{{ country.name }}</a>
  </div>
  <router-outlet></router-outlet>
</div>
