  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Search by name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <ng-container *ngIf="(regions$ | async) as regions">
      <mat-form-field appearance="fill">
        <mat-label>Region</mat-label>
        <mat-select formControlName="region">
          <mat-option [value]="null">All</mat-option>
          <mat-option *ngFor="let region of regions" [value]="region">
            {{region}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </ng-container>
  </form>
