@use '@angular/material' as mat;

@include mat.core();

$country-viewer-primary: mat.define-palette(mat.$green-palette, 800, 700, 900);
$country-viewer-accent: mat.define-palette(mat.$grey-palette);
$country-viewer-warn: mat.define-palette(mat.$red-palette);

$country-viewer-theme: mat.define-light-theme((
  color: (
    primary: $country-viewer-primary,
    accent: $country-viewer-accent,
    warn: $country-viewer-warn,
  )
));

$dark-primary: mat.define-palette(mat.$green-palette, 800, 700, 900);
$dark-accent: mat.define-palette(mat.$grey-palette);
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
  )
));

@include mat.all-component-themes($country-viewer-theme);

.my-dark-theme {
  @include mat.all-component-themes($dark-theme);
}

body.my-dark-theme {
  background-color: black;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #eaeaea;
  display: flex;
  flex-direction: column;
}
